@font-face {
    font-family: "PlumbC";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbCondensed-Light/PlumbLightC.woff") format("woff"), url("../fonts/PlumbCondensed-Light/PlumbLightC.eot") format("eot"), url("../fonts/PlumbCondensed-Light/PlumbLightC.ttf") format("ttf");
}

@font-face {
    font-family: "PlumbC";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbCondensed-Regular/PlumbC.woff") format("woff"), url("../fonts/PlumbCondensed-Regular/PlumbC.eot") format("eot"), url("../fonts/PlumbCondensed-Regular/PlumbC.ttf") format("ttf");
}

@font-face {
    font-family: "PlumbC";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbMediumC/PlumbMediumC.woff") format("woff"), url("../fonts/PlumbMediumC/PlumbMediumC.eot") format("eot"), url("../fonts/PlumbMediumC/PlumbMediumC.ttf") format("ttf");
}

@font-face {
    font-family: "PlumbC";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbCondensed-Bold/PlumbC-Bold.woff") format("woff"), url("../fonts/PlumbCondensed-Bold/PlumbC-Bold.eot") format("eot"), url("../fonts/PlumbCondensed-Bold/PlumbC-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "PlumbC";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbCondensed-Black/PlumbBlackC.woff") format("woff"), url("../fonts/PlumbCondensed-Black/PlumbBlackC.eot") format("eot"), url("../fonts/PlumbCondensed-Black/PlumbBlackC.ttf") format("ttf");
}

@font-face {
    font-family: "PlumbC";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbBlackSoftC/PlumbBlackSoftC.woff") format("woff"), url("../fonts/PlumbBlackSoftC/PlumbBlackSoftC.eot") format("eot"), url("../fonts/PlumbBlackSoftC/PlumbBlackSoftC.ttf") format("ttf");
}