@font-face {
    font-family: "PlumbC";
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbCondensed-Light/PlumbCondensed-Light.woff") format("woff"), url("../fonts/PlumbCondensed-Light/PlumbCondensed-Light.eot") format("eot"), url("../fonts/PlumbCondensed-Light/PlumbCondensed-Light.ttf") format("ttf");
}

@font-face {
    font-family: "PlumbC";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbCondensed-Regular/PlumbCondensed-Regular.woff") format("woff"), url("../fonts/PlumbCondensed-Regular/PlumbCondensed-Regular.eot") format("eot"), url("../fonts/PlumbCondensed-Regular/PlumbCondensed-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "PlumbC";
    font-weight: 600;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbCondensed-Bold/PlumbCondensed-Bold.woff") format("woff"), url("../fonts/PlumbCondensed-Bold/PlumbCondensed-Bold.eot") format("eot"), url("../fonts/PlumbCondensed-Bold/PlumbCondensed-Bold.ttf") format("ttf");
}

@font-face {
    font-family: "PlumbC";
    font-weight: 800;
    font-style: normal;
    font-display: swap;
    src: url("../fonts/PlumbCondensed-Black/PlumbCondensed-Black.woff") format("woff"), url("../fonts/PlumbCondensed-Black/PlumbCondensed-Black.eot") format("eot"), url("../fonts/PlumbCondensed-Black/PlumbCondensed-Black.ttf") format("ttf");
}