.container {
    max-width: 1770px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    @media (max-width: 1279px) {
        display: none;
    }
}

.header__top {
    border-bottom: 1px solid #EBEBEB;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .column {
            &:first-child {
                width: 36%;
            }

            &:nth-child(2) {
                width: 31%;
            }
        }
    }
}

.header__links,
.header__info,
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__info {
    justify-content: flex-end;
}

.header__links {

    a {
        color: #8C8C8C;
        font-weight: 600;
        font-size: 15px;
        text-transform: uppercase;
        display: inline-block;
        padding: 19px 0px 15px;
        border-bottom: 4px solid transparent;

        &:hover {
            border-bottom: 4px solid #0C88ED;
            color: #0C88ED;
        }
    }
}

.main-nav {

    a {
        color: #374957;
        font-size: 16px;

        &:hover {
            color: #EB3723;
        }
    }
}

.adress,
.phone {
    display: inline-block;
    position: relative;
}

.adress_header {
    margin-right: 36px;
}

.adress {
    color: #374957;
    font-size: 16px;
    padding-left: 34px;

    &__icon {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
    }
}

.phone {
    font-size: 30px;
    color: #EB3723;
    padding-left: 34px;
    font-weight: 500;

    .phone__icon {
        position: absolute;
        top: 50%;
        left: 0px;
        transform: translateY(-50%);
    }
}

.logo {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 800;
    color: #EB3723;

    b {
        display: inline-block;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: -20px;
            right: 0;
            width: 28px;
            height: 19px;
            background: #EB3723;
        }

        &:before {
            content: "";
            position: absolute;
            bottom: -18px;
            right: 0;
            width: 28px;
            height: 19px;
            background: #EB3723;
        }
    }

    span {
        color: #1B58A9;
    }
}

.header__bottom {
    border-bottom: 1px solid #EBEBEB;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;

        .column {
            &:first-child {
                width: 13%;
                display: flex;
                align-items: center;
            }

            &:nth-child(2) {
                width: 64%;
            }

            &:last-child {
                width: 22%;
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
    }
}

.nav-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.nav-link>li {
    position: relative;
    width: 33.33%;
    border-left: 1px solid #EBEBEB;

    &:last-child {
        border-right: 1px solid #EBEBEB;
    }

    &:hover {
        .expand-menu {
            display: block;
        }
    }
}

.nav-link>li>a {
    color: #374957;
    font-weight: 500;
    font-size: 18px;
    display: block;
    position: relative;
    padding: 35px 0px 35px 85px;
}

.expand-menu {
    position: absolute;
    width: 100.4%;
    left: -1px;
    top: 101%;
    background: white;
    display: none;
    z-index: 20;

    li {
        position: relative;

        &:hover {
            .expand-menu__dropdown {
                display: block;
            }
        }

        a {
            display: flex;
            align-items: center;
            font-size: 16px;
            color: #374957;
            height: 70px;
            padding: 0px 32px 0px 24px;
            border: 1px solid #EBEBEB;
            border-top: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.expand-menu__dropdown {
    position: absolute;
    width: 100%;
    top: 0;
    left: 100%;
    display: none;
    background: white;

    li {
        a {
            border: 1px solid #EBEBEB;
        }

        &:not(:first-child) {
            a {
                border-top: none;
            }
        }
    }
}

.expand-menu__arrow {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
}

.nav-link__icon {
    position: absolute;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
}

.work-time {
    font-size: 18px;
    color: #374957;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.work-time__icon {
    margin-right: 18px;
}

.work-time__list {
    text-align: right;

    li {
        &:first-child {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 1599px) {
    .phone_header {
        font-size: 20px;
    }

    .main-nav a {
        font-size: 14px;
    }

    .header__links a,
    .work-time {
        font-size: 12px;
    }

    .nav-link>li>a {
        font-size: 15px;
    }
}

@media (min-width: 1600px) and (max-width: 1899px) {
    .work-time {
        font-size: 16px;
    }
}

.header-mob {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    height: 60px;
    padding: 0 16px;

    img {
        display: block;
    }
}

.headermob-wrap {
    @media (min-width: 1280px) {
        display: none;
    }
}

.logo_mob {
    font-size: 16px;

    b {

        &:before,
        &:after {
            width: 20px;
            height: 12px;
        }

        &:after {
            top: -12px;
        }

        &:before {
            bottom: -10px;
        }
    }
}

.burger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background: url("../img/burger.png") no-repeat center;
}

.burger.is-active {
    background: url("../img/close.png") no-repeat center;
}

.dropdownmenu {
    position: absolute;
    left: -100%;
    transition: 0.5s;
    max-width: 320px;
    width: 100%;
    background: linear-gradient(180deg, #2995EC 0%, #075CA2 100%);
    color: white;
    padding: 33px 15px 79px;
    z-index: 100;
}

.dropdownmenu.is-active {
    left: 0;
}

.mob-nav {
    margin-bottom: 60px;

    li {
        margin-bottom: 25px;

        a {
            font-size: 16px;
            font-weight: 500;
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.mob-list {
    text-align: center;
    font-weight: 600;
    font-size: 18px;

    li {
        margin-bottom: 20px;

        a {
            opacity: 0.6;

            &:hover {
                opacity: 1;
            }
        }
    }
}

.mob-list_top {
    margin-bottom: 60px;
    font-size: 20px;
}

.top-main__img-inner {
    position: relative;
}

.banner-tooltip {
    width: 150px;
    height: 150px;
    color: white;
    text-align: center;
    background: #FC573B;
    border-radius: 10em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;

    @media (max-width: 767px) {
        width: 112px;
        height: 112px;
        left: 12px;
        top: 12px;
    }

    @media (min-width: 768px) {
        right: 30px;
        top: 30px;
    }

    .banner-tooltip__item {
        &:first-child {
            font-size: 60px;
            font-weight: 600;
            line-height: 52px;

            @media (max-width: 767px) {
                font-size: 50px;
            }
        }

        &:last-child {
            font-size: 18px;

            @media (max-width: 767px) {
                font-size: 12px;
            }
        }
    }
}

.promo {
    width: 77px;
    text-align: center;
    position: absolute;
    bottom: 40px;
    right: 40px;

    @media (max-width: 767px) {
        width: 48px;
    }

    @media (min-width: 768px) {
        left: 40px;
        bottom: 40px;
    }
}

.promo__article {
    color: #EB3723;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 4px;
}

.gerb {
    position: absolute;
    z-index: 10;

    @media (max-width: 767px) {
        text-align: left;
        display: flex;
        align-items: center;
        width: 240px;
        left: 50%;
        top: 12px;
        transform: translateX(-50%);
    }

    @media (min-width: 768px) {
        width: 184px;
        text-align: center;
        top: 34px;
        left: 90px;
    }
}

.gerb__img {
    @media (max-width: 767px) {
        margin-right: 13px;
        width: 47px;
    }
}

.gerb__article {
    color: #374957;
    font-size: 16px;

    @media (max-width: 767px) {
        width: calc(100% - 47px);
    }
}

.top-main__article {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 380px;
    background: #FFFFFF;
    box-shadow: 2px 4px 10px 5px rgba(56, 55, 121, 0.05);
    border-radius: 6px;
    color: #E7387F;
    font-size: 16px;
    padding: 12px 25px;

    @media (max-width: 767px) {
        display: none;
    }
}

.top-main__select {
    max-width: 490px;
    width: 100%;

    @media (max-width: 1279px) {
        margin: 0 auto;
    }
}

.time-block {
    display: flex;
    align-items: center;
    justify-content: center;

    li {
        &:first-child {
            display: flex;
            align-items: center;
            padding-right: 12px;
            margin-right: 12px;
            border-right: 2px solid #C6C6C1;
        }
    }
}

.time-block_top {
    @media (min-width: 1600px) {
        justify-content: flex-start;
    }
}

.main-title {
    color: #374957;
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 27px;

    @media (max-width: 1279px) {
        text-align: center;
        font-size: 22px;
    }
}

.main-title_center {
    text-align: center;
}

.advantages__title {
    margin-bottom: 45px;
}

.time-block__article {
    color: #374957;
    font-size: 16px;
    padding-left: 13px;
}

.time-block__count {
    color: #EB3723;
    font-size: 50px;

    span {
        font-size: 28px;
        display: inline-block;
        padding-left: 5px;
    }
}

.ref-title {
    color: #374957;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.ref-icons {
    display: flex;
    align-items: center;

    li {
        margin-right: 10px;
    }

    img {
        border-radius: 10em;
    }
}

.ref-price {
    color: #EB3723;
    font-size: 30px;
    font-weight: 500;

    span {
        font-size: 20px;
    }
}

.ref-link {
    color: #0C88ED;
    font-size: 20px;
    text-decoration: underline;
    display: inline-block;
}

// .ref-link_slider {
//     margin-bottom: 43px;
// }

.sub-title_slider {
    margin-bottom: 12px;
}

.sub-title {
    color: #374957;
    font-size: 16px;
    margin-bottom: 12px;
}

// .ref-price_slider {
//     margin-bottom: 33px;
// }

.top-main__sub-title {
    @media (max-width: 1279px) {
        text-align: center;
    }
}

.ref-slider {
    padding-top: 32px;
    padding-bottom: 32px;

    @media (max-width: 1279px) {
        overflow: visible;
    }

    @media (min-width: 1600px) {
        padding-top: 18px;
    }

    @media (min-width: 1900px) {
        padding-left: 18px;
        padding-right: 18px;
    }

    .swiper-wrapper {
        @media (max-width: 1279px) {
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        @media (max-width: 1279px) {
            display: none;
        }
    }

    .swiper-button-prev {
        @media (min-width: 1900px) {
            left: -4px;
        }
    }

    .swiper-button-next {
        @media (min-width: 1900px) {
            right: -4px;
        }
    }

    .swiper-slide {
        display: flex;
        justify-content: center;
        height: 477px;

        @media (min-width: 992px) and (max-width: 1279px) {
            width: 32%;
        }

        @media (max-width: 1279px) {
            margin-bottom: 50px;
        }

        .ref-slider__item {
            max-width: 332px;
            width: 100%;
            padding: 26px;
            padding-top: 75px;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            // align-items: center;

            @media (max-width: 991px) {
                background: #FFFFFF;
                box-shadow: 2px 6px 10px 10px rgba(56, 55, 121, 0.19);
                border-radius: 6px;
            }

            @media (min-width: 992px) {
                background: #F8FAFF;

                &:hover {
                    background: #FFFFFF;
                    box-shadow: 2px 6px 10px 10px rgba(56, 55, 121, 0.19);
                    border-radius: 6px;

                    .ref-slider__btn {
                        background: #FFDB4D;
                        color: #374957;
                    }
                }
            }
        }
    }
}

.ref-slider__btn {
    width: 100%;
    background: none;
    border: 2px solid #FFDB4D;
    border-radius: 6px;
    height: 83px;
    color: #8C8C8C;
    font-size: 20px;

    @media (max-width: 991px) {
        background: #FFDB4D;
        color: #374957;
    }
}

.swiper-button-next,
.swiper-button-prev {
    border: 4px solid #FFFFFF;
    width: 48px;
    height: 48px;
    border-radius: 10em;
}

.swiper-button-next {
    right: 0;
    background: #F2F2F2 url("../img/arrow-r.png") no-repeat center;
}

.swiper-button-prev {
    background: #F2F2F2 url("../img/arrow-l.png") no-repeat center;
    left: 0;
}

.select {
    margin-bottom: 22px;

    .selectric {
        border: none;
        background: #EEF2F7;
    }

    .label {
        height: 56px;
        line-height: 56px;
        color: #898F97;
        font-size: 16px;
        padding-left: 14px;
        font-weight: 500;
    }

    .selectric-items li {
        padding-left: 24px;
        font-size: 14px;
    }

    .button {
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        background: url('../img/expand-more.png') no-repeat center;

        &:after {
            display: none;
        }
    }
}

.ref-slider__about {
    position: absolute;
    width: 100%;
    top: 26px;
    left: 50%;
    transform: translateX(-50%);
    color: #10C923;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 27px;

    .check-icon {
        margin-right: 12px;
    }
}

.top-main__img {
    max-width: 737px;
    width: 100%;
    margin: 0 auto;
    position: relative;

    @media (max-width: 767px) {
        padding-top: 76px;
    }
}

.top-main {
    @media (min-width: 1280px) {
        display: flex;
    }

    .column {
        &:first-child {
            @media (min-width: 1280px) {
                width: 737px;
            }
        }

        &:last-child {
            @media (max-width: 1279px) {
                padding: 19px 16px;
            }

            @media (min-width: 1280px) {
                padding: 15px;
                width: calc(100% - 737px);
            }

            @media (min-width: 1900px) {
                padding-right: 80px;
                padding-left: 30px;
            }
        }
    }
}


.top-main__info {
    @media (min-width: 1280px) {
        display: flex;
        align-items: center;
    }
}

.top-main__info>li {
    @media (min-width: 1280px) {

        &:first-child {
            width: 60%;
            margin-right: 15px;
        }

        &:last-child {
            width: 40%;
        }

    }

    @media (min-width: 1900px) {
        &:first-child {
            width: 47%;
        }

        &:last-child {
            width: 47%;
        }
    }
}

.time-block_top .time-block__count {
    @media (min-width: 1280px) and (max-width: 1899px) {
        font-size: 24px;
        text-align: center;
        line-height: 14px;

        span {
            font-size: 16px;
        }
    }
}

.top-main__title {
    @media (min-width: 1280px) and (max-width: 1899px) {
        font-size: 18px;
    }
}

.cont-txt {
    font-size: 18px;
    color: #4B4A55;

    p {
        margin-bottom: 25px;
    }
}

.about-ref {
    margin-bottom: 45px;
}

.advantages {
    background: #F8FAFF;
    padding-top: 38px;
    padding-bottom: 45px;
}

.adv-slider {
    .swiper-slide {
        display: flex;
        justify-content: center;
    }
}

.adv-slider__item {
    text-align: center;
}

.adv-slider__img {
    margin-bottom: 36px;
}

.adv-slider__article {
    color: #374957;
    font-size: 22px;
    font-weight: 500;
}

.tab-block__title {
    color: #374957;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 20px;

    @media (min-width: 1900px) {
        padding-right: 60px;
    }
}

.tab-block__sub-title {
    color: #374957;
    margin-bottom: 27px;
    font-weight: 500;
}

.ref-list {
    li {
        margin-bottom: 22px;
        padding-left: 15px;
        position: relative;

        &:after {
            content: "";
            position: absolute;
            top: 50%;
            left: 0px;
            transform: translateY(-50%);
            width: 6px;
            height: 6px;
            border-radius: 10em;
            background: #0C88ED;
        }
    }
}

.ref-quote {
    padding-left: 15px;
    border-left: 2px solid #E7387F;

    @media (min-width: 1900px) {
        width: 280px;
    }
}

.tab-block__btn {
    background: #FFDB4D;
    border-radius: 6px;
    height: 83px;
    max-width: 472px;
    width: 100%;
    color: #374957;
    font-size: 20px;
    font-weight: 500;
}

.phone-block__call {
    display: inline-block;
    font-size: 32px;
    color: #EB3723;
    font-weight: 600;
    margin-bottom: 5px;

    @media (max-width: 767px) {
        font-size: 24px;
    }
}

.phone-block__article {
    font-size: 16px;
    font-weight: 500;
}

.arrange {
    padding-top: 30px;

    @media (min-width: 1280px) {
        padding-top: 67px;
    }
}

.tab-links {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #EBEBEB;
    margin-bottom: 28px;

    a {
        font-size: 18px;
        color: #9297AB;
        display: inline-block;
        padding-bottom: 24px;
        border-bottom: 4px solid transparent;

        &:first-child {
            margin-right: 24px;
        }
    }

    a.is-active {
        color: #0C88ED;
        border-bottom: 4px solid #0C88ED;
    }
}

.tab-block__time {
    padding: 20px 0px;

    @media (min-width: 1600px) {
        position: absolute;
    }
}

@media (max-width: 767px) {
    .time-block__img {
        width: 30px;
    }

    .time-block__article {
        font-size: 16px;
    }

    .time-block__count {
        font-size: 30px;

        span {
            font-size: 16px;
        }
    }
}

.tab-block__icons {
    margin-bottom: 20px;
}

.tab-block__right {
    @media (min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }

    @media (min-width: 1900px) {
        justify-content: flex-start;
    }

    .column {
        margin-bottom: 25px;

        &:first-child {
            @media (min-width: 992px) {
                width: 48%;
            }

            @media (min-width: 1900px) {
                width: 38%;
            }
        }

        &:last-child {
            @media (min-width: 992px) {
                width: 48%;
            }

            @media (min-width: 1900px) {
                width: 58%;
            }
        }
    }
}

.phone-block {
    display: flex;
    justify-content: center;
    align-items: center;

    li {
        &:first-child {
            width: 90px;
            margin-right: 10px;

            @media (min-width: 1280px) {
                width: 156px;
                margin-right: 21px;
            }
        }

        &:last-child {
            width: calc(100% - 90px);
        }
    }
}

.tab-block__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @media (min-width: 1280px) {
        flex-direction: row;
    }

    @media (min-width: 1600px) {
        justify-content: flex-end;
    }

    @media (min-width: 1900px) {
        padding-right: 190px;
    }

    .column {
        margin-bottom: 25px;

        &:first-child {
            width: 100%;
            text-align: center;

            @media (min-width: 1280px) {
                width: 472px;
                margin-right: 109px;
            }

            @media (max-width: 1279px) {
                order: 1;
            }
        }
    }
}

.tab-block__img {
    position: relative;

    @media (max-width: 767px) {
        text-align: center;
    }
}

.tab-block__info {
    margin-bottom: 25px;
}

.tab-block__left {
    @media (min-width: 768px) {
        display: flex;
        justify-content: center;
    }

    .tab-block__img {
        @media (min-width: 768px) {
            width: 380px;
        }
    }

    .tab-block__info {
        @media (min-width: 768px) {
            width: calc(100% - 380px);
        }
    }
}

.tab-block__top {
    @media (min-width: 1280px) {
        display: flex;
    }

    .tab-block__left {
        @media (min-width: 1280px) {
            width: 706px;
        }
    }

    .tab-block__right {
        @media (min-width: 1280px) {
            width: calc(100% - 706px);
        }
    }
}

.tab-block__price {
    margin-bottom: 18px;
}

.services {
    padding-top: 25px;

    @media (min-width: 1280px) {
        padding-top: 77px;
        margin-bottom: 116px;
    }
}

.services__inner {
    background: #F8FAFF;
    padding: 40px 0px;
}

.service-table {
    width: 100%;
    border-spacing: 0 20px;

    thead {
        tr {
            th {
                color: #38AECE;
                font-size: 18px;
                font-weight: 400;
                text-align: center;

                &:first-child {
                    text-align: left;
                    padding-left: 30px;
                }

                &:last-child {
                    @media (max-width: 1279px) {
                        display: none;
                    }
                }
            }
        }

        @media (max-width: 991px) {
            display: none;
        }
    }

    tbody {
        tr {
            border-radius: 20px;
            background: #FFFFFF;
            border: 1px solid #F0F4FC;

            @media (min-width: 992px) {
                height: 80px;
            }

            @media (max-width: 991px) {
                margin-bottom: 30px;
                padding: 19px;
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
            }

            &:hover {
                @media (min-width: 992px) {
                    box-shadow: 0px 0px 30px 10px rgba(28, 27, 75, 0.07);

                    .service-table__check {
                        display: none;
                    }

                    .service-table__btn {
                        display: block;
                    }
                }
            }

            td {
                text-align: center;

                &:first-child {
                    @media (min-width: 992px) {
                        text-align: left;
                        padding-left: 30px;
                    }

                    @media (max-width: 991px) {
                        width: 100%;
                    }

                    @media (min-width: 992px) {
                        width: 40%;
                    }
                }

                &:nth-child(2),
                &:nth-child(3) {
                    width: 50%;

                    @media (min-width: 992px) {
                        width: 25%;
                    }

                    @media (min-width: 1280px) {
                        width: 20%;
                    }
                }

                &:last-child {
                    width: 20%;

                    @media (max-width: 1279px) {
                        display: none;
                    }
                }

                @media (max-width: 991px) {
                    display: block;
                }
            }
        }
    }
}

.service-table__sub-title {
    color: #38AECE;
    font-size: 14px;
    margin-bottom: 13px;

    @media (min-width: 992px) {
        display: none;
    }
}

.service-table__title {
    color: #74727F;
    font-size: 18px;

    @media (max-width: 991px) {
        text-align: center;
        font-size: 16px;
        margin-bottom: 25px;
    }
}

.service-table__time,
.service-table__price {
    color: #E7387F;
    font-size: 18px;
    font-weight: 600;
}

.service-table__check {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-table__btn {
    width: 100%;
    height: 100%;
    background: #FFDB4D;
    color: #374957;
    font-size: 18px;
    font-weight: 500;
    height: 78px;
    display: none;
    border: none;
}

.recall-block {
    background: rgba(231, 56, 127, 0.9);
    padding: 16px 0px;
    position: relative;

    @media (min-width: 768px) and (max-width: 1279px) {
        padding-bottom: 0;
    }
}

.recall-block__title {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 500;

    @media (max-width: 767px) {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 160px;
    }

    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 20px;
        text-align: center;
        margin-bottom: 20px;
    }

    @media (min-width: 992px) {
        margin-bottom: 40px;
    }

    @media (min-width: 1100px) {
        font-size: 28px;
    }

    @media (min-width: 1280px) {
        font-size: 36px;
    }
}

.phone_w {
    color: white;
}

.recall-block__article {
    font-size: 14px;
    color: white;
    font-weight: 500;

    @media (min-width: 1280px) {
        font-size: 16px;
        text-transform: uppercase;
    }
}

.recall-block__btn {
    width: 270px;
    height: 70px;
    border-radius: 4px;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-size: 22px;
    background: none;
}

.recall-block__inner {
    position: relative;
    max-width: 1233px;
    margin: 0 auto;

    @media (max-width: 767px) {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
    }

    @media (min-width: 768px) {
        display: flex;
        align-items: center;
    }

    .column {
        &:last-child {
            width: 170px;

            @media (max-width: 991px) {
                display: none;
            }
        }

        &:nth-child(1) {
            width: 353px;
        }

        &:nth-child(2) {
            @media (min-width: 768px) {
                width: calc(100% - 353px);
            }

            @media (min-width: 992px) {
                width: calc(100% - 523px);
            }
        }
    }
}

.recall-block__img {
    img {
        display: block;
    }

    @media (max-width: 767px) {
        width: 256px;
        margin-bottom: 16px;
    }
}

.recall-block__phone {
    padding-left: 0;

    @media (min-width: 1280px) {
        font-size: 42px;
    }
}

.recall-block__item {
    text-align: center;

    @media (min-width: 1100px) {
        display: flex;
        align-items: center;
        text-align: left;
    }

    li {
        margin-bottom: 20px;

        &:first-child {
            @media (min-width: 992px) {
                margin-right: 12px;
            }

            @media (min-width: 1280px) {
                margin-right: 49px;
            }
        }
    }
}

.recall-block__img_doc {
    @media (min-width: 1280px) {
        position: absolute;
        top: -98px;
    }
}

.terms-slider__title {
    padding: 23px 0px;
    color: #0C88ED;
    font-weight: 600;
    font-size: 20px;
}

.terms-slider__article {
    font-size: 15px;
    color: #74727F;
}

.terms-slider {
    .swiper-slide {
        display: flex;
        justify-content: center;

        @media (max-width: 991px) {
            margin-bottom: 50px;
        }

        @media (min-width: 768px) {
            width: 50%;
        }
    }

    .swiper-wrapper {
        @media (max-width: 991px) {
            flex-wrap: wrap;
        }
    }

    .swiper-button-next,
    .swiper-button-prev {
        @media (max-width: 991px) {
            display: none;
        }
    }
}

.terms-slider__item {
    width: 280px;
}

.terms {
    padding-top: 54px;

    @media (min-width: 1280px) {
        padding-top: 68px;
        margin-bottom: 90px;
    }
}

.terms__title {
    @media (min-width: 1280px) {
        margin-bottom: 64px;
    }
}

.reference-info {
    padding-top: 40px;
    margin-bottom: 40px;
}

.form-block {
    margin-bottom: 48px;

    @media (min-width: 1280px) {
        padding-top: 70px;
        margin-bottom: 102px;
    }
}

.form-block__inner {
    background: #97D0FF;
    border-radius: 6px;
    padding-top: 32px;
    padding-bottom: 42px;

    @media (min-width: 1100px) {
        padding-left: 50px;
        padding-right: 50px;
    }

    @media (min-width: 1600px) {
        padding-left: 160px;
        padding-right: 160px;
    }
}

.inp {
    width: 100%;
    height: 56px;
    color: #898F97;
    font-size: 16px;
    background: #FFFFFF;
    border-radius: 2px;
    border: none;
    padding-left: 20px;

    @media (max-width: 991px) {
        height: 40px;
    }
}

.ref-form {
    @media (min-width: 1280px) {
        display: flex;
        justify-content: space-between;
    }

    .column {
        &:first-child {
            @media (min-width: 1280px) {
                width: calc(100% - 440px);
            }
        }

        &:last-child {
            @media (min-width: 1280px) {
                padding-top: 20px;
                width: 408px;
            }
        }
    }
}

.ref-form__sub-title {
    font-size: 15px;
    margin-bottom: 12px;
}

.ref-form__list>li {
    @media (max-width: 1279px) {
        margin-bottom: 18px;
    }
}

.ref-form__select {
    .selectric {
        background: white;
    }

    .label {
        font-weight: 400;
    }
}

.ref-form__btn {
    max-width: 254px;
    width: 100%;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    background: #FFDD2D;
    border-radius: 6px;
    height: 64px;
    display: block;
    color: #374957;

    span {
        @media (max-width: 991px) {
            display: none;
        }
    }

    @media (min-width: 992px) {
        max-width: 408px;
        width: 100%;
        height: 83px;
    }
}

.checkbox {
    display: none;
}


.checkbox:checked+label:before {
    display: block;
}

.check-label {
    font-size: 16px;
    color: #898F97;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;

    @media (max-width: 767px) {
        font-size: 12px;
    }

    &:after {
        content: "";
        position: absolute;
        top: -5px;
        left: 0px;
        width: 24px;
        height: 24px;
        border-radius: 4px;
        border: 2px solid #00ADE9;
    }

    &:before {
        content: "";
        position: absolute;
        top: 0px;
        left: 6px;
        width: 14px;
        height: 14px;
        background: url("../img/check.png") no-repeat center;
        background-size: contain;
        display: none;
    }

    a {
        text-decoration: underline;
    }
}

.check-block {
    padding-top: 30px;
    text-align: center;

    @media (max-width: 767px) {
        text-align: left;
    }

    @media (min-width: 1280px) {
        padding-top: 57px;
        text-align: left;
    }
}

.ref-form__list {
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.ref-form__list>li {
    width: 100%;

    &:first-child {
        @media (min-width: 768px) {
            width: 48%;
        }

        @media (min-width: 992px) {
            width: 32%;
        }
    }

    &:nth-child(2) {
        @media (min-width: 768px) {
            width: 48%;
        }

        @media (min-width: 992px) {
            width: 32%;
        }
    }

    &:nth-child(3) {
        @media (min-width: 992px) {
            width: 32%;
        }
    }
}

.map {
    height: 455px;
}

.map-block {
    margin-bottom: 48px;
}

.footer {
    background: linear-gradient(180deg, #2995EC 0%, #075CA2 100%);
    padding: 50px 0px 43px;
}

.footer__list_left {
    @media (min-width: 768px) {
        margin-bottom: 65px;
    }
}

.footer__logo {
    color: white;
    margin-bottom: 60px;

    span {
        color: white;
        opacity: 0.5;
    }

    b:before,
    b:after {
        background: white;
    }
}

.footer__list {
    @media (max-width: 767px) {
        display: none;
    }

    li {
        margin-bottom: 20px;
        color: #97D0FF;
        font-size: 16px;
        font-weight: 500;
    }
}

.footer-work-time {
    color: #FFFFFF;
    font-size: 16px;
    padding-top: 17px;
    margin-bottom: 53px;
}

.footer-nav {
    li {
        margin-bottom: 45px;
    }

    a {
        color: #97D0FF;
        font-size: 20px;
        font-weight: 600;

        &:hover {
            color: white;
        }
    }

    @media (min-width: 1600px) {
        column-count: 3;
    }
}

.copy {
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 14px;
}

.footer__bottom {
    text-align: center;

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 60px;
    }
}

.metr {
    @media (max-width: 767px) {
        display: none;
    }
}

.footer__top {
    @media (max-width: 767px) {
        text-align: center;
    }

    @media (min-width: 768px) {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .column {
        &:nth-child(1) {
            @media (min-width: 768px) {
                width: 50%;
            }

            @media (min-width: 992px) {
                width: 32%;
            }

            @media (min-width: 1600px) {
                width: 19%;
            }
        }

        &:nth-child(2) {
            @media (max-width: 767px) {
                display: none;
            }

            @media (min-width: 768px) {
                width: 50%;
            }

            @media (min-width: 992px) {
                width: 32%;
            }

            @media (min-width: 1600px) {
                width: 60%;
            }

            @media (min-width: 1900px) {
                width: 55%;
            }
        }

        &:nth-child(3) {
            @media (min-width: 992px) {
                width: 32%;
            }

            @media (min-width: 1600px) {
                width: 19%;
            }

            @media (min-width: 1900px) {
                width: 21%;
            }
        }
    }
}