.top-main
    .column
        .top-main__img
            img(src="img/smile.jpg")

            .banner-tooltip
                .banner-tooltip__item 25
                .banner-tooltip__item Медицинских центров

            .promo
                .promo__article Скидка
                .promo__img
                    img(src="img/promo.png")

            .gerb
                .gerb__img
                    img(src="img/gerb.png")
                .gerb__article
                    |Лицензия департамента здравоохранения города Москвы

            .top-main__article 
                |Медицинские справки не продаются и не доставляются курьером, а выдаются только после личного прохождения медицинского осмотра в соответствии с действующим законодательством РФ!

    .column
        h1.main-title Оформить медсправку 003-В/у для ГИБДД, одно окно

        ul.top-main__info
            li
                .sub-title Выберите ближайший филиал:

                .select
                    select
                        option Братиславская
                        option Тест 1
                        option Тест 2
            li
                ul.time-block
                    li
                        .time-block__img
                            img(src="img/time.png")

                        .time-block__article Время прохождения комиссии
                    li
                        .time-block__count
                            |30
                            span мин

        .ref-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .ref-slider__item
                        .ref-title Справки для категории А, В 003в/у

                        ul.ref-icons
                            li
                                img(src="img/spr-1.png")
                            li
                                img(src="img/spr-2.png")

                        .sub-title Стоимость комиссии:

                        .ref-price
                            |1200
                            span руб.

                        a(href="#").ref-link Подробнее

                        .ref-slider__btn-wrap
                            button(type="submit").ref-slider__btn Оформить медсправку
