.top-main
    .column
        .top-main__img
            .gerb
                .gerb__img
                    img(src="img/gerb.png")
                .gerb__article
                    |Лицензия департамента здравоохранения города Москвы

            .top-main__img-inner
                img(src="img/smile.jpg")

                .banner-tooltip
                    .banner-tooltip__item 25
                    .banner-tooltip__item Медицинских центров

                .promo
                    .promo__article Скидка
                    .promo__img
                        img(src="img/promo.png")

                .top-main__article 
                    |Медицинские справки не продаются и не доставляются курьером, а выдаются только после личного прохождения медицинского осмотра в соответствии с действующим законодательством РФ!

    .column
        h1.main-title.top-main__title Оформить медсправку 003-В/у для ГИБДД, одно окно

        ul.top-main__info
            li
                .sub-title.top-main__sub-title Выберите ближайший филиал:

                .select.top-main__select
                    select
                        option Братиславская
                        option Тест 1
                        option Тест 2
            li
                ul.time-block.time-block_top
                    li
                        .time-block__img
                            img(src="img/time.png")

                        .time-block__article Время прохождения<br> комиссии
                    li
                        .time-block__count
                            |30
                            span мин.

        .ref-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .ref-slider__item
                        .ref-title Справки для категории А, В 003в/у

                        ul.ref-icons
                            li
                                img(src="img/spr-1.png")
                            li
                                img(src="img/spr-2.png")

                        .sub-title.sub-title_slider Стоимость комиссии:

                        .ref-price.ref-price_slider
                            |1200 
                            span руб.

                        a(href="#").ref-link.ref-link_slider Подробнее

                        .ref-slider__btn-wrap
                            button(type="submit").ref-slider__btn Оформить медсправку

                .swiper-slide
                    .ref-slider__item
                        .ref-slider__about
                            .check-icon
                                img(src="img/check.png")
                            span Все вместе в одно окно


                        .ref-title Справки для категории А, В + нарколог и психиатр 003в/у 

                        ul.ref-icons
                            li
                                img(src="img/spr-3.png")
                            li
                                img(src="img/spr-4.png")

                        .sub-title.sub-title_slider Стоимость комиссии:

                        .ref-price.ref-price_slider
                            |1200 
                            span руб.

                        a(href="#").ref-link.ref-link_slider Подробнее

                        .ref-slider__btn-wrap
                            button(type="submit").ref-slider__btn Оформить медсправку

                .swiper-slide
                    .ref-slider__item
                        .ref-slider__about
                            .check-icon
                                img(src="img/check.png")
                            span Все вместе в одно окно

                        .ref-title Справки для категории С, D, E с электроэнцефалограммой + нарколог и психиатр 003в/у

                        ul.ref-icons
                            li
                                img(src="img/spr-5.png")
                            li
                                img(src="img/spr-6.png")
                            li
                                img(src="img/spr-7.png")

                        .sub-title.sub-title_slider Стоимость комиссии:

                        .ref-price.ref-price_slider
                            |1200 
                            span руб.

                        a(href="#").ref-link.ref-link_slider Подробнее

                        .ref-slider__btn-wrap
                            button(type="submit").ref-slider__btn Оформить медсправку

            .swiper-button-next
            .swiper-button-prev

.about-ref.container
    h2.main-title Медсправка водительская 003-В/у
    .cont-txt
        p Если Вам нужно оформить водительскую справку (форма 003-В/у) для ГИБДД, но нет возможности получить заключение нарколога и психиатра в диспансере по месту жительства, то обращайтесь в наши клиники. У нас Вы можете пройти полный медицинский осмотр, который включает обследования всех необходимых врачей, и получить официальную водительскую справку в одном месте.

.advantages
    .container
        h2.main-title.main-title_center.advantages__title Преимущества

        .adv-slider.swiper-container
            .swiper-wrapper
                .swiper-slide
                    .adv-slider__item
                        .adv-slider__img
                            img(src="img/adv-1.png")

                        .adv-slider__article 
                            |Быстрое получение <br>документа

                .swiper-slide
                    .adv-slider__item
                        .adv-slider__img
                            img(src="img/adv-2.png")

                        .adv-slider__article 
                            |Доступная цена

                .swiper-slide
                    .adv-slider__item
                        .adv-slider__img
                            img(src="img/adv-3.png")

                        .adv-slider__article 
                            |Официальное<br> оформление

                .swiper-slide
                    .adv-slider__item
                        .adv-slider__img
                            img(src="img/adv-4.png")

                        .adv-slider__article 
                            |Оформление в <br>одном месте

                .swiper-slide
                    .adv-slider__item
                        .adv-slider__img
                            img(src="img/adv-5.png")

                        .adv-slider__article 
                            |25 медицинских<br> центров

            .swiper-button-next
            .swiper-button-prev

.arrange.container
    h2.main-title.main-title_center Оформить медсправку водительскую 003-В/у

    .tab-links
        a(href="#tab-1").tab-links__btn Категория A, B
        a(href="#tab-2").tab-links__btn Категория C, D, E

    .tabs-wrap
        .tab-block#tab-1
            .tab-block__top
                .tab-block__left
                    .tab-block__img
                        img(src="img/man.jpg")

                        ul.time-block.tab-block__time
                            li
                                .time-block__img
                                    img(src="img/time.png")

                                .time-block__article Время прохождения<br> комиссии
                            li
                                .time-block__count
                                    |30
                                    span мин.

                    .tab-block__info
                        .tab-block__title Справки для категории А, А1, В, В1, ВЕ, М, В 003в/у

                        ul.ref-icons.tab-block__icons
                            li
                                img(src="img/spr-5.png")
                            li
                                img(src="img/spr-6.png")

                        .sub-title Стоимость комиссии:

                        .ref-price.tab-block__price
                            |1200 
                            span руб.

                        .sub-title Выдается сроком на один год

                .tab-block__right
                    .column
                        .tab-block__sub-title Необходимые документы:

                        ul.ref-list
                            li Паспорт
                            li Справка от нарколога и психиатра*

                        .ref-quote 
                            |* В случае прохождения данных специалистов в наших медцентрах справка не требуются.

                    .column
                        .tab-block__sub-title Обследование у каких врачей нужно пройти:

                        ul.ref-list
                            li терапевт или врач общей практики (семейный врач) — обязательно;
                            li офтальмолог — обязательно;
                            li психиатр — обязательно;
                            li психиатр-нарколог — обязательно;
                            li невролог — только если направит терапевт.

            .tab-block__bottom
                .column
                    button(type="submit").tab-block__btn Записаться на комиссию

                .column
                    ul.phone-block
                        li
                            .phone-block__img
                                img(src="img/docs.jpg")
                        li
                            a(href="tel:74956496451").phone-block__call +7 495 649-64-51
                            .phone-block__article Звоните! Онлайн запись на комиссию
        .tab-block#tab-2
            .tab-block__top
                .tab-block__left
                    .tab-block__img
                        img(src="img/man.jpg")

                        ul.time-block.tab-block__time
                            li
                                .time-block__img
                                    img(src="img/time.png")

                                .time-block__article Время прохождения<br> комиссии
                            li
                                .time-block__count
                                    |30
                                    span мин.

                    .tab-block__info
                        .tab-block__title Справки для категории А, А1, В, В1, ВЕ, М, В 003в/у

                        ul.ref-icons.tab-block__icons
                            li
                                img(src="img/spr-5.png")
                            li
                                img(src="img/spr-6.png")

                        .sub-title Стоимость комиссии:

                        .ref-price.tab-block__price
                            |1200 
                            span руб.

                        .sub-title Выдается сроком на один год

                .tab-block__right
                    .column
                        .tab-block__sub-title Необходимые документы:

                        ul.ref-list
                            li Паспорт
                            li Справка от нарколога и психиатра*

                        .ref-quote 
                            |* В случае прохождения данных специалистов в наших медцентрах справка не требуются.

                    .column
                        .tab-block__sub-title Обследование у каких врачей нужно пройти:

                        ul.ref-list
                            li терапевт или врач общей практики (семейный врач) — обязательно;
                            li офтальмолог — обязательно;
                            li психиатр — обязательно;
                            li психиатр-нарколог — обязательно;
                            li невролог — только если направит терапевт.

            .tab-block__bottom
                .column
                    button(type="submit").tab-block__btn Записаться на комиссию

                .column
                    ul.phone-block
                        li
                            .phone-block__img
                                img(src="img/docs.jpg")
                        li
                            a(href="tel:74956496451").phone-block__call +7 495 649-64-51
                            .phone-block__article Звоните! Онлайн запись на комиссию




