.footer
    .container
        .footer__top
            .column
                .logo.footer__logo
                    b Medсп
                    span равки

                ul.footer__list.footer__list_left
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Филиалы на карте
                    li
                        a(href="#") Услуги и цены
                    li
                        a(href="#") Контакты

                a(href="tel:74956496451").phone.phone_w.footer__phone 
                    .phone__icon
                        img(src="img/phone-w.png")
                    |+7 495 649-64-51

                .footer-work-time
                    |Время работы: Пн-Пт: <br>с 9:00 до 21:00 Сб-Вс: с 9:00 до 20:00

            .column
                ul.footer-nav
                    li
                        a(href="#") Медицинские справки 
                    li
                        a(href="#") Частным лицам
                    li
                        a(href="#") Медицинские книжки
                    li
                        a(href="#") Организациям
                    li
                        a(href="#") Диагностика
                    li
                        a(href="#") Справка об отсутствии COVID 19

            .column
                ul.footer__list
                    li
                        a(href="#") Справка для категорий А, В, (003-в/у)
                    li
                        a(href="#") Справка для категорий С, D (003-в/у)
                    li
                        a(href="#") Справка 003-в/у с наркологом и психиатром
                    li
                        a(href="#") Заключение нарколога и психиатра
                    li
                        a(href="#") Электроэнцефалограмма головного мозга

        .footer__bottom
            .copy © 2020 MEDСПРАВКИ
            .metr 
                img(src="img/metr.jpg")





script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU")
script(src="libs/jquery/jquery3.5.1.min.js")
script(src="libs/swiper/swiper.min.js")
script(src="libs/selectric/jquery.selectric.min.js")
script(src="js/common.js")