.header
    .header__top
        .container
            .column
                ul.header__links
                    li
                        a(href="#") Частным лицам
                    li
                        a(href="#") Организациям
                    li
                        a(href="#") Справка об отсутствии covid 19

            .column
                ul.main-nav
                    li
                        a(href="#") О компании
                    li
                        a(href="#") Филиалы на карте
                    li
                        a(href="#") Услуги и цены
                    li
                        a(href="#") Контакты

            .column
                .header__info 
                    .adress.adress_header
                        .adress__icon
                            img(src="img/marker.png")
                        |Москва

                    a(href="tel:74956496451").phone.phone_header
                        .phone__icon
                            img(src="img/phone.png")
                        |+7 495 649-64-51

    .header__bottom
        .container
            .column
                .logo
                    b Medсп
                    span равки

            .column
                ul.nav-link
                    li
                        a(href="#")
                            |Медицинские справки
                            .nav-link__icon 
                                img(src="img/nav-1.png")

                        ul.expand-menu
                            li
                                a(href="#") Медсправка для ГИБДД<br> (форма 003-В/у)
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для работы
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Справки для учебы
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для иностранных граждан
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для отдыхающих
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для занятия спортом
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправка на оружие
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                    li
                        a(href="#")
                            |Медицинские книжки
                            .nav-link__icon 
                                img(src="img/nav-2.png")
                        ul.expand-menu
                            li
                                a(href="#") Медсправка для ГИБДД<br> (форма 003-В/у)
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для работы
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Справки для учебы
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для иностранных граждан
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для отдыхающих
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для занятия спортом
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправка на оружие
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                    li
                        a(href="#")
                            |Диагностика
                            .nav-link__icon 
                                img(src="img/nav-2.png")
                        ul.expand-menu
                            li
                                a(href="#") Медсправка для ГИБДД<br> (форма 003-В/у)
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для работы
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Справки для учебы
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для иностранных граждан
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для отдыхающих
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправки для занятия спортом
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения
                            li
                                a(href="#") Медсправка на оружие
                                .expand-menu__arrow
                                    img(src="img/arrow-forward.png")
                                ul.expand-menu__dropdown
                                    li
                                        a(href="#") Справка 003-В/у с наркологом и психиатром (для ГИБДД)
                                    li
                                        a(href="#") Справка 003-В/у для замены водительского удостоверения

            .column
                .work-time
                    .work-time__icon
                        img(src="img/nav-4.png")
                    ul.work-time__list
                        li Время работы: Пн-Пт:
                        li с 9:00 до 21:00 Сб-Вс: с 9:00 до 20:00
.headermob-wrap
    .header-mob
        .burger

        .logo.logo_mob
            b Medсп
            span равки

        a(href="tel:74956496451").phone-mob
            img(src="img/phone-blue.png")

    .dropdownmenu
        ul.mob-nav
            li
                a(href="#") Справка для категорий А, В, (003-в/у)
            li
                a(href="#") Справка для категорий С, D (003-в/у)
            li
                a(href="#") Справка 003-в/у с наркологом и психиатром
            li
                a(href="#") Заключение нарколога и психиатра
            li
                a(href="#") Электроэнцефалограмма головного мозга

        ul.mob-list.mob-list_top
            li
                a(href="#") Медицинские справки
            li
                a(href="#") Медицинские книжки
            li
                a(href="#") Диагностика

        ul.mob-list.mob-list_bottom
            li
                a(href="#") Частным лицам
            li
                a(href="#") Организациям
            li
                a(href="#") Справка об отсутствии COVID 19